*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-transform: capitalize; */
}
body{
    color: #000;
}
.background{
    position: relative;
    background: linear-gradient(170deg, #f5f57b 35%, #fff6fb 100%);
}
.logo{
    font-size: 2em;
    font-weight: 600;
    flex: 1;
    color: #600001;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo img{
    width: 100px;
    mix-blend-mode:multiply;
    margin-right: 1%;
    cursor: pointer;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar.scrolled{
    background-color: #f7f746;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    display: flex;
    justify-content: center;
}
.nav-items li{
    list-style: none;
    padding: 1em;
}
.nav-items li a{
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
}
.nav-items li::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #64009e;
    display: block;
    margin: auto;
    transition:  0.5s;
}
.nav-items li:hover::after{
    width: 100%;
}
.nav-menu{
    display: none;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 90%;
    padding: 12em 2em 4em 2em;
    margin: auto;
}
.main h1{
    font-size: 3.5em;
    color: #3414d8;
    line-height: 1.5;
    padding: 1% 0;
}
.left h3{
    font-size: 20px;
    color: #555;
}
.left h3{
    font-size: 30px;
    line-height: 1rem;
    padding: 4% 0;
    color: rgb(51, 45, 45);
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right img{
    width: 650px;
    max-width: 100%;
    height: auto;
    mix-blend-mode:multiply;
}
.btn{
    padding: 12px 25px;
    background-color: #f0dc2f;
    color: #600081;
    font-size: 24px;
    font-family: 600;
    border-radius: 20px;
    border: 2px solid rgb(63, 63, 63);
    transition: all 0.5s linear;
}
.btn:hover{
    background-color: #e6f50c;
    cursor: pointer;
    color: rgb(63, 63, 63);
}
.sec{
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 9em 0 3em 0;
}
.heading{
    color: #600081;
    font-size: 3em;
    letter-spacing: 1px;
    padding-bottom: 12px;
}

.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6em;
}
.boxes{
    max-width: 400px;
    margin: auto 1em;
    padding: 25px;
    background-color: #fff7b4;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.sub-heading{
    padding-bottom: 13px;
}
.para1{
    font-size: 18px;
    line-height: 1.9;
    color: rgb(8, 6, 6);
}
.boxes h2{
    margin-top: 1em;
}
.boxes i{
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 2em;
    background-color: #64009e;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    transition: all 0.3s linear;
}
.boxes:hover i{
    cursor: pointer;
    border: 10px double #ffe400;
    transform: translate(-50%, -50%) rotateY(10deg);
}

.about-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    align-items: center;
}
.about-box li{
    list-style: none;
}
.left-box, .right-box{
    text-align: left;
}
.mid img{
    width: 350px;
    height: 500px;
}
.left-box li, .right-box li{
    padding: 14px 0;
}
.left-box li i,
.right-box li i{
    color: #f0ff66;
    padding: 1px;
    background: linear-gradient(to bottom, #c402ff, #c5a800);
    border-radius: 50%;
    font-size: 20px;
    margin-right: 12px;
}
.btn1{
    margin-top: 12px;
    background: #fff066;
   
}
.blog{
    width: 100%;
    background-color: #fef183;
    padding: 5em 0;
    margin: 2em 0;
}
.b-blog{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
    padding-top: 4em;
}
.blog-box h1{
    padding: 12px 0;
    font-size: 2.7em;
}
.box1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3em;
}
.contact-left, 
.contact-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
}
.contact-right img{
    width: 370px;
    border-radius: 10px;
    border: 1px solid rgb(177, 173, 173);
}
.contact-left input, 
.contact-left textarea{
    padding: 15px;
    outline: none;
    background: #fcffe7;
    border: 2px solid #600081;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
.contact-left input{
    margin: 2% 0;
}
footer{
    background-color: #f5f57b;
    margin-top: 7em;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 2rem;
    width: 80%;
    margin-bottom: 3em;
    text-align: left;
}
.footer-logo img{
    max-width: 40px;
}
.footer-logo span{
    display: flex;
    font-size: 1.8rem;
    font-weight: 800;
}
.footer-col h4{
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #600081;
}
.footer-links{
    display: grid;
    gap: 1rem;
    font-size: 20px;
    list-style: none;
}
.footer-links a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
}
.footer-links a:hover{
    color: #600081;
}
.footer-text{
    margin: 1rem 0;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-align: left;
}
.footer-socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}
.footer-socials a{
    font-size: 1.8rem;
    text-decoration: none;
    padding: 4%;
    margin: 12px;
    border-radius: 5px;
    color: #fff;
    background-color: #600081;
}
.footer-socials a:hover{
    background-color: #c402ff;
    color: #f5f57b;
}
.footer-bar{
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}
@media only screen and (max-width : 1160px){
    .about-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .box1{
        gap: 1em;
    }
}
@media only screen and (max-width : 980px){
    .box{
        grid-template-columns: repeat(2, 1fr);
    }
    .boxes{
        margin: 2em;
    }
    .b-blog{
        width: 90%;
    }
    .box1{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .main{
        width: 95%;
        gap: 0;
    }
    .about-box .right-box{
        grid-column: 1 / span 3;
        margin-top: 2em;
    }   
}
@media only screen and (max-width: 850px){
    .main{
        padding: 8em 0em 4em 1em;
    }
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .box, .about-box{
        grid-template-columns: repeat(1, 1fr);
    }
    .boxes{
        margin: 2em auto;
        max-width: 500px;
    }
    .about-box .right-box{
        grid-column: 1 / span 1;
    }
    .blog-box{
        padding-bottom: 2em;
    }
} 
@media only screen and (max-width : 700px){
    .nav-items{
        position: absolute;
        top: -1%;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5em 0 2em 0;
        gap: 0.9rem;
        background-color: #fff066;
        transition: 0.5s;
        z-index: -1;
        transform: translateY(-100%);
        flex-direction: column;
    }
    .item{
        flex-direction: column;
    }
    .nav-items.open{
        transform: translate(0);
    }
    .nav-menu{
        display: block;
        font-size: 2em;
    }
}
    
